
  .section {
    background-color: rgb(187, 187, 177);
  }

  
  .chicken {
    font-size: 125%;
    font-weight: bold;
  }
  .beef {
    font-size: 125%;
    font-weight: bold;

  }
  .sushi {
    font-size: 125%;
    font-weight: bold;
  }